<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
  <meta name="theme-color" content="#fff">
  <link rel="manifest" href="/manifest.webmanifest">
  <meta name="description" content="Find Restaurants in your areas and what do people think about them.">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans" as="style" onload="this.rel='stylesheet'">
  <link rel="icon" type="image/png" sizes="32x32" href="img/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="img/icons/favicon-16x16.png">
  <title>Restaurant Reviews</title>
  <!-- <style>
    .app__overlay {
      opacity: 1;
      width: 100%;
      height: 100%;
      background: rgba(243, 243, 243, 1);
      transition: 250ms all ease-in-out;
      z-index: 10;
    }

    .app__overlay.is-done {
      opacity: 0;
      display: none;
      transition: 250ms all ease-in-out;
    }

    .no-scroll {
      overflow: hidden;
    }
  </style> -->
</head>

<body class="no-scroll">
  <!-- <div class="app__overlay"></div> -->
  <div id="app"></div>
  <noscript>
    <div style="display: flex; justify-content: center; align-items: center;">
      <h1>This app requires JavaScript in order to work correctly</h1>
    </div>
  </noscript>
</body>

</html>
